{{$service := .Data.Service}}
{{$customizedTypes := .Data.CustomizedTypes}}

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

using QingStorSDK.com.qingstor.sdk.Attribute;
using QingStorSDK.com.qingstor.sdk.model;
using QingStorSDK.com.qingstor.sdk.utils;

namespace QingStorSDK.com.qingstor.sdk.service
{
    class Types
    {
		{{range $_, $customizedType := $customizedTypes}}
		public static class {{$customizedType.ID | camelCase}}Model:RequestInputModel 
		{
			{{template "RenderProperties" passThrough $customizedType "" "query"}}
			public String validateParam() 
			{
				{{template "ValidateCustomizedType" $customizedType}}
				return null;
			}
		}
    {{end}}
    }
}
